- var hOwner = 'Owner '
- var hName = 'Name '
- var hVersion = 'Version '
- var hUI = 'SAGE2 UI '
- var hDC = 'Display Client '
- var hElectron = 'SAGE2 Display Executable '
- var hStatus = 'Status '
- var hControl = 'Control '
- var hUpdate = 'Update '

tr.row-container(class=server.state + ' ' + update[server._id] + ' row-' + server.userId, id=server._id)
	if admin && adminPage
		td(data-label=hOwner)= server.user
	td(data-label=hName)
		a(href=server.url, target='_blank').control-label= server.name
	if(server.tag == "latest")
		td(data-label=hVersion) BETA
	else
		td(data-label=hVersion)= server.tag
	td(data-label=hStatus)
		.col-server-state
			span.status
	td(data-label=hControl)
		div.btn-group.buttons(role="group")
			button(type='button').btn.btn-success.btn-start-container
				span.fa.fa-lg.fa-play
			button(type='button').btn.btn-warning.btn-stop-container
				span.fa.fa-lg.fa-stop
			button(type='button').btn.btn-primary.btn-configure-container
				span.fa.fa-lg.fa-cog
			button(type='button').btn.btn-danger.btn-delete-container
				span.fa.fa-lg.fa-trash
	td(data-label=hUpdate)
		span.buttons
			button(type='button').btn.btn-secondary.btn-update-container
				span.fa.fa-lg.fa-refresh
	td(data-label=hUI)
		a(href=server.url, target='_blank').control-label= server.url
	td(data-label=hDC)
		- var nmbDisplayClients = server.conf.layout.rows * server.conf.layout.columns
		- var i = 0;
		while i < nmbDisplayClients
			- var url = 'http://' + server.conf.host + ':' + server.conf.index_port + '/display.html?clientID=' + i;
			div
				a(href=url, target='_blank')= 'Client ' + i
			- i++
	//-
		td(data-label=hElectron)
			- var i = 0;
			while i < nmbDisplayClients
				- var urlWin = '/downloads/' + server.user + '/' + server.name + '/' + 'SAGE2_DisplayClientWin-' + server.user + '-' + server.name + '-' + i + '.zip' ;
				- var urlLin = '/downloads/' + server.user + '/' + server.name + '/' + 'SAGE2_DisplayClientLinux-' + server.user + '-' + server.name + '-' + i + '.zip' ;
				- var urlMac = '/downloads/' + server.user + '/' + server.name + '/' + 'SAGE2_DisplayClientMac-' + server.user + '-' + server.name + '-' + i + '.zip' ;

				div
					a(href=urlWin, target='_blank')= 'Display ' + i + ' (Windows)'
					|  | 
					a(href=urlLin, target='_blank')= 'Display ' + i + ' (Linux)'
					|  | 
					a(href=urlMac, target='_blank')= 'Display ' + i + ' (Mac)'

				- i++
	

