//- SAGE2 is available for use under the SAGE2 Software License
//-
//- University of Illinois at Chicago's Electronic Visualization Laboratory (EVL)
//- and University of Hawai'i at Manoa's Laboratory for Advanced Visualization
//- and Applications (LAVA)
//-
//- See full text, terms and conditions in the LICENSE.txt included file
//-
//- Copyright (c) 2017

- dockerManagers = typeof(dockerManagers) != 'undefined' ? dockerManagers : [ ]

.container
	.panel.panel-primary
		.panel-heading Docker Managers
		.panel-body.docker-list
			.row
				.col-sm-1
				.col-sm-2
					h4 Server
				.col-sm-1
					h4 Status
				.col-sm-3
				.col-sm-1
				.col-sm-4 
			.row
				.col-sm-1
				.col-sm-5
					hr
				.col-sm-4
			each docker in dockerManagers
				include dockerRow
			.row.row-input
				.col-sm-1
				.col-sm-2
					input.form-control.docker-manager-url(type='text', name='docker-manager-url')
				.col-sm-1
				.col-sm-4
					button(type='button').add-docker-manager.btn.btn-success.button-delete-docker-manager
						span.fa.fa-plus.fa-lg.button-add-docker-manager-glyph
