.row(class="row-" + docker._id)
		.col-sm-1
		.col-sm-2
			span= docker.url
		.col-sm-1
			if(docker.status == 'Online')
				span.label.label-success= docker.status
			else
				span.label.label-danger= docker.status
		.col-sm-4
			button(type='button', id=docker._id).delete-docker-manager.btn.btn-danger.button-delete-docker-manager
				span.fa.fa-trash.fa-lg.button-delete-docker-manager-glyph

