//- SAGE2 is available for use under the SAGE2 Software License
//-
//- University of Illinois at Chicago's Electronic Visualization Laboratory (EVL)
//- and University of Hawai'i at Manoa's Laboratory for Advanced Visualization
//- and Applications (LAVA)
//-
//- See full text, terms and conditions in the LICENSE.txt included file
//-
//- Copyright (c) 2017

extends layout

block append scripts
	script(src='/vendor/jquery-2.2.3.min.js')
	script(src='/vendor/jquery.form.min.js')
	script(src='/vendor/bootstrap.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.11.0/js/bootstrap-tour.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment-with-locales.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.13/moment-timezone.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.13/moment-timezone-with-data.min.js')
	script(src='/socket.io/socket.io.js')
	script(src='/js/views/containers.js')
	script(src='/js/views/home.js')
	script(src='/js/views/new-server.js')
	script(src='/js/controllers/homeController.js')
	script(src='/js/controllers/containerController.js')
	script(src='/js/controllers/dockerController.js')
	script(src='/js/controllers/serverController.js')
	script(src='/js/form-validators/accountValidator.js')
	script(src='/js/form-validators/serverValidator.js')
	//- script(src='/js/tour.js')

block content

	include navbar
	include sage2List
	//include account
	include modals/alert
	include modals/confirm
	include modals/sage2server


