//- SAGE2 is available for use under the SAGE2 Software License
//-
//- University of Illinois at Chicago's Electronic Visualization Laboratory (EVL)
//- and University of Hawai'i at Manoa's Laboratory for Advanced Visualization
//- and Applications (LAVA)
//-
//- See full text, terms and conditions in the LICENSE.txt included file
//-
//- Copyright (c) 2017

extends layout

block content

	#login.center-vertical
		form.well(id='form-login', method='post')
			img(src='/img/sage2-logo.png', width='280px')
			center
				h3 Management Portal
			.form-group
				label Username
				input.form-control(type='text', id='user-tf', name='user')
			.form-group
				label Password
				input.form-control(type='password', id='pass-tf', name='pass')
			.controls
				button(type='button').btn.btn-default.button-rememember-me
					span.glyphicon.glyphicon-unchecked.button-rememember-me-glyph
					| Remember Me
				button(type='submit').btn.btn-primary.button-sign-in
					span.glyphicon.glyphicon-lock
					| Sign In
			.clearfix
			hr
			.btm-links
				//#forgot-password
				//	a(href='#') Forgot Your Password?
				#create-account
					a(href='/signup') Create An Account
			.clearfix

	include modals/alert
	include modals/lost-password

block scripts
	script(src='/vendor/jquery-2.2.3.min.js')
	script(src='/vendor/jquery.form.min.js')
	script(src='/vendor/bootstrap.min.js')
	script(src='/js/views/login.js')
	script(src='/js/controllers/loginController.js')
	script(src='/js/form-validators/loginValidator.js')
	script(src='/js/form-validators/emailValidator.js')
