//- SAGE2 is available for use under the SAGE2 Software License
//-
//- University of Illinois at Chicago's Electronic Visualization Laboratory (EVL)
//- and University of Hawai'i at Manoa's Laboratory for Advanced Visualization
//- and Applications (LAVA)
//-
//- See full text, terms and conditions in the LICENSE.txt included file
//-
//- Copyright (c) 2017

nav.navbar.navbar-inverse.navbar-fixed-top
	.container-fluid
		.navbar-header
			button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#mobile-navbar-collapse", aria-expanded="false")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='/') SAGE2 Management Portal
		div.collapse.navbar-collapse(id="mobile-navbar-collapse")
			ul.nav.navbar-nav.navbar-right
				li 
					a(href='/home') Home
				li
					a(href='/account') Account
				- admin = typeof(admin) != 'undefined' ? admin : false
				if admin
					li
						a(href='/admin') Admin
				li
					a(href='http://sage2.sagecommons.org/binaries/Display/', target=_blank) Electron Binaries
				li
					.navbar-btn#btn-logout.btn.btn-default Sign Out
			
