//- SAGE2 is available for use under the SAGE2 Software License
//-
//- University of Illinois at Chicago's Electronic Visualization Laboratory (EVL)
//- and University of Hawai'i at Manoa's Laboratory for Advanced Visualization
//- and Applications (LAVA)
//-
//- See full text, terms and conditions in the LICENSE.txt included file
//-
//- Copyright (c) 2017

- servers = typeof(servers) != 'undefined' ? servers : {  }
- admin = typeof(admin) != 'undefined' ? admin : false
- adminPage = typeof(adminPage) != 'undefined' ? adminPage : false
- update = typeof(update) != 'undefined' ? update : [  ]

- var hOwner = 'Owner '
- var hName = 'Name '
- var hVersion = 'Version '
- var hUI = 'SAGE2 UI '
- var hDC = 'Display Client '
- var hElectron = 'SAGE2 Display Executable '
- var hStatus = 'Status '
- var hControl = 'Control '
- var hUpdate = 'Update '

.container.container-sage2list(class=adminPage ? "admin-page" : "")
	
	.panel.panel-primary.panel-sage2-servers
		.panel-heading SAGE2 Instances
		.panel-body
			if(admin && adminPage)
				input(type='hidden', value='admin')#userId
			else
				input(type='hidden', value= user._id)#userId
			.table-responsive(id='data')
				table.table.table-hover
					thead
						tr
							if admin && adminPage
								th= hOwner
									a.help-toggle(data-toggle='help' title='Owner of the SAGE2 Server')
										i.fa.fa-question-circle
							th= hName
								a.help-toggle(data-toggle='help' title='Name of the SAGE2 Server')
									i.fa.fa-question-circle
							th= hVersion
								a.help-toggle(data-toggle='help' title='Version of the SAGE2 Server')
									i.fa.fa-question-circle
							th= hStatus	
								a.help-toggle(data-toggle='help' title='Status of SAGE2 Server')
									i.fa.fa-question-circle
							th= hControl
								a.help-toggle(data-toggle='help' title='Status of SAGE2 Server')
									i.fa.fa-question-circle
							th= hUpdate
								a.help-toggle(data-toggle='help' title='Updates SAGE2 Server to the latest version')
									i.fa.fa-question-circle
							th= hUI
								a.help-toggle(data-toggle='help' title='Use from a laptop or PC to control SAGE2')
									i.fa.fa-question-circle
							th= hDC
								a.help-toggle(data-toggle='help' title='Open these from your display wall')
									i.fa.fa-question-circle
							//-
								th= hElectron	
									a.help-toggle(data-toggle='help' title='SAGE2 Display Client Executable - no this instead of Chrome')
										i.fa.fa-question-circle
					tbody.container-list
						each server in servers
							include containerRow
						
	if(!adminPage)
		.add-server.col-md-12
			.col-md-4
			.col-md-4.text-center
				button.btn.btn-primary.btn-block.btn-add-server(type="button")
					span(style="text-align:center;display:block;", aria-hidden="true") Add a new SAGE2 instance
			.col-md-4



include modals/form-errors
