//- SAGE2 is available for use under the SAGE2 Software License
//-
//- University of Illinois at Chicago's Electronic Visualization Laboratory (EVL)
//- and University of Hawai'i at Manoa's Laboratory for Advanced Visualization
//- and Applications (LAVA)
//-
//- See full text, terms and conditions in the LICENSE.txt included file
//-
//- Copyright (c) 2017

- servers = typeof(servers) != 'undefined' ? servers : {  }
- admin = typeof(admin) != 'undefined' ? admin : false
- accounts = typeof(accounts) != 'undefined' ? accounts : {  }

.container
	.panel.panel-primary
		.panel-heading SAGE2 Users
		.panel-body
			.row
				.col-sm-1
				if admin
					.col-sm-1
						h4 User
				.col-sm-3
					h4 Administrator
				.col-sm-4 
			.row
				.col-sm-1
				.col-sm-5
					hr
				.col-sm-4
			if !accounts.length
				.alert.alert-danger(role='alert')
					center No SAGE2 Accounts found. Please add one by clicking the button below.
			each account in accounts
				.row(class="row-" + account._id)
					.col-sm-1
					.col-sm-1
						span= account.user
					.col-sm-3
						span= account.admin
					.col-sm-4
						button(type='button', id=account._id).configure-account.btn.btn-primary.button-configure-account
							span.fa.fa-cog.fa-lg.button-configure-account-glyph(aria-hidden="true")
						button(type='button', id=account._id).delete-account.btn.btn-danger.button-delete-account
							span.fa.fa-trash.fa-lg.button-delete-account-glyph
	.add-account.col-md-12
		.col-md-4
		.col-md-4.text-center
			button#btn-new-account.btn.btn-primary.btl-lg.btn-block(type="button")
				span(style="text-align:center;display:block;", aria-hidden="true") Add a new SAGE2 user
		.col-md-4

include modals/form-errors
