disabled()
	cursor not-allowed
	-webkit-box-shadow none
	box-shadow none
	opacity 0.30
	pointer-events none

status()
	display inline-block
	width 100px
	text-align center
	color white
	font-weight bolder
	padding 6px 5px
	border-radius 5px

loadingAnim()
	-webkit-animation progress-bar-stripes 2s linear infinite
	-o-animation progress-bar-stripes 2s linear infinite
	animation progress-bar-stripes 2s linear infinite
	background-image -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent)
	background-image -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent)
	background-image linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent)
	-webkit-background-size 40px 40px
	background-size 40px 40px

getColor(state)
	if state == 'Running'
		running
	else if state =='Stopped'
		stopped
	else if state == 'Offline'
		offline
	else if state == 'Please Wait'
		loading

buttons(state, start-enabled, stop-enabled, configure-enabled, delete-enabled, update-enabled)
	.status
		// set the status rectangle before to be "Running"
		&:before
			content state
			background getColor(state)
			border 2px solid shade(getColor(state), 15%)
			status() // add all of the css of the .status class into here
			if state == 'Please Wait'
				loadingAnim()

	.buttons
		width 170px
		// set the start and delete button to be disabled
		.btn-start-container 
			float left
			unless start-enabled
				disabled()

		.btn-stop-container
			float left
			unless stop-enabled
				disabled()

		.btn-configure-container 
			float left
			unless configure-enabled
				disabled()

		.btn-delete-container 
			float left
			unless delete-enabled
				disabled()

		.btn-update-container
			unless update-enabled
				disabled()
		
running = #5cb85c
stopped = #f0ad4e
offline = #d9534f
loading = #5bc0de

.Running 
	buttons('Running', false, true, true, false, true)
	
.Stopped 
	buttons('Stopped', true, false, true, true, true)

.Offline
	buttons('Offline', false, false, false, false, false)

.Loading
	buttons('Please Wait', false, false, false, false, false)

.update
	.btn-update-container
		background #fff
		border-color shade(#fff, 15%)

.no-update
	.btn-update-container
		background #fff
		border-color shade(#fff, 15%)
		disabled()

.container-list
	.row-container
		.undefined
			.btn-update-container
				background #fff
				border-color shade(#fff, 15%)
				disabled()
