// SAGE2 is available for use under the SAGE2 Software License
//
// University of Illinois at Chicago's Electronic Visualization Laboratory (EVL)
// and University of Hawai'i at Manoa's Laboratory for Advanced Visualization
// and Applications (LAVA)
//
// See full text, terms and conditions in the LICENSE.txt included file
//
// Copyright (c) 2017

raiseText()
	color grey
	text-shadow  -1px 1px 0 white
	-moz-text-shadow  -1px 1px 0 white
	-webkit-text-shadow  -1px 1px 0 white

body 
	margin  0
	padding  0
	height  100%
	background rgb(242,249,254)
	background -moz-radial-gradient(center, ellipse cover,  rgba(242,249,254,1) 0%, rgba(214,240,253,1) 100%) /* FF3.6+ */
	background -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(242,249,254,1)), color-stop(100%,rgba(214,240,253,1))) /* Chrome,Safari4+ */
	background -webkit-radial-gradient(center, ellipse cover,  rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%) /* Chrome10+,Safari5.1+ */
	background -o-radial-gradient(center, ellipse cover,  rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%) /* Opera 12+ */
	background -ms-radial-gradient(center, ellipse cover,  rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%) /* IE10+ */
	background radial-gradient(center, ellipse cover,  rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%) /* W3C */

.row
	padding-top 5px
.add-server
	margin 0
	display block
	width 100%
	text-align center

.panel-sage2-servers
	margin-top 80px

.help-toggle
	color #D0D0D0

.help-toggle:hover
	color #787878

/* CSS for smaller view spaces */
@media screen and (max-width: 1200px)

	/* hide table headings */
	.mobile-table-responsive table thead
		display none

	/* treat rows like divs */
	.mobile-table-responsive table tr
		display block
		border-top 2px solid lightgray /* separate row data with thicker line */
		margin-top 5px

	/* treat columns like divs */
	.mobile-table-responsive table td
		display block
		text-align right /* text to right */

    /* this part is ugly, but necessary to show label on left */
	.mobile-table-responsive table td:before
		content attr(data-label)
		float left /* label to left */
		font-weight 700

h2{
	margin: 0 0 6px 0;
	font-weight: bold; 
}

h6{
	margin: 2px 0 20px 0;
}

hr{
	margin 14px 0
	border-top: 1px solid rgb(238, 238, 238);
	border-bottom: 1px solid rgb(255, 255, 255);
}

ul{
	margin: 4px 0 0 0;
}

label, h6 {
	color: #808080;
	font-size: 13px;
	font-weight: normal;
	text-shadow: -1px 1px 0 #fff;
}

.container{
	padding: 8rem 2rem;
}

.well{
	background: #f8f8f8;
	.tab-title{
		float:left;
		margin-left: 10px;
	}
	.button-top-right{
		float:right;
		margin: 0 10px 20px 0;
	}
	margin-bottom 0;
}

.navbar-btn{
	min-width: 100px
	margin-right: 8px;
	.btn{
		min-width: 100px
	}
}

.glyphicon{
	margin-right: 8px;
}

/*
	login window
*/

#login{
	label{
		margin-left: 2px;
	}
	form{
		width:320px;
	}
	.controls{
		margin-top: 20px;
		.button-rememember-me{
			float: left;
			width: 150px;
		}
		.button-sign-in{
			float: right;
			width: 120px;
		}
	}
	.btm-links{
		font-size: .9em;
		margin 2px 0 0 0
		#forgot-password{
			float left
			margin-left 10px;
		}
		#create-account{
			float right
			margin-right 5px;
		}
	}
}

#account-form-container{
	form{
		width:460px;
	}
}

/*
	modal windows
*/

.modal{
	.modal-dialog{
		width:480px;
	}
	.form-group{
		margin-bottom: 10px;
	}
	.alert{
		margin-top 10px;
		margin-bottom: 0
		padding 8px 15px 8px 15px
	}
	.alert-dismissable, .close{
		right -4px;
	}
	p{
		margin:0;
		padding:0;
	}
	.modal-footer{
		button{
			width:100px;
		}
	}
}

.center-vertical{
	height:100vh;
	form{
		top: 50%;
		margin:auto;
		position: relative;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}

.form-horizontal{
	.form-buttons{
		float right;
		.btn{
			width 80px
			margin-left 6px
		}
	}
	input, select{
		height 30px
	}
}

.modal-loading
	h4
		text-align center

	p
		text-align center
		font-size 18px
