//- SAGE2 is available for use under the SAGE2 Software License
//-
//- University of Illinois at Chicago's Electronic Visualization Laboratory (EVL)
//- and University of Hawai'i at Manoa's Laboratory for Advanced Visualization
//- and Applications (LAVA)
//-
//- See full text, terms and conditions in the LICENSE.txt included file
//-
//- Copyright (c) 2017

.modal-alert.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				//button.close(data-dismiss='modal') x
				h4
			.modal-body
				p
			.modal-footer
				button(data-dismiss="modal")#ok.btn.btn-primary OK
