//- SAGE2 is available for use under the SAGE2 Software License
//-
//- University of Illinois at Chicago's Electronic Visualization Laboratory (EVL)
//- and University of Hawai'i at Manoa's Laboratory for Advanced Visualization
//- and Applications (LAVA)
//-
//- See full text, terms and conditions in the LICENSE.txt included file
//-
//- Copyright (c) 2017

#get-credentials.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				button.close(data-dismiss='modal') x
				h4 Retrieve Password
			.modal-body
				form(method="post")#get-credentials-form.well
					.form-group
						label Please enter the email address associated with your account
						input.form-control(type="text", id='email-tf', name="email").required
						.alert.alert-danger.hide
			.modal-footer
					button(data-dismiss="modal")#cancel.btn.btn-default Cancel
					button(type="submit")#retrieve-password-submit.btn.btn-primary Submit
