//- SAGE2 is available for use under the SAGE2 Software License
//-
//- University of Illinois at Chicago's Electronic Visualization Laboratory (EVL)
//- and University of Hawai'i at Manoa's Laboratory for Advanced Visualization
//- and Applications (LAVA)
//-
//- See full text, terms and conditions in the LICENSE.txt included file
//-
//- Copyright (c) 2017

#set-password.modal.show
	.modal-dialog
		.modal-content
			.modal-header
				h4 Reset Password
			.modal-body
				form(method="post")#set-password-form.well
					.form-group
						label Please enter your new password
						input.form-control(type="password", name="pass", id='pass-tf').required
						.alert.alert-danger.hide
			.modal-footer
				button(type="submit" form="set-password-form")#set-password-submit.btn.btn-primary Submit
