//- SAGE2 is available for use under the SAGE2 Software License
//-
//- University of Illinois at Chicago's Electronic Visualization Laboratory (EVL)
//- and University of Hawai'i at Manoa's Laboratory for Advanced Visualization
//- and Applications (LAVA)
//-
//- See full text, terms and conditions in the LICENSE.txt included file
//-
//- Copyright (c) 2017

- admin = typeof(admin) != 'undefined' ? admin : false
- adminPage = typeof(adminPage) != 'undefined' ? adminPage : false
- accounts = typeof(accounts) != 'undefined' ? accounts : {  }
- images = typeof(images) != 'undefined' ? images : [  ]
- timezones = typeof(timezones) != 'undefined' ? timezones : [  ]
- dockerServers = typeof(dockerServers) != 'undefined' ? dockerServers : {  }
- localDockerServer = typeof(localDockerServer) != 'undefined' ? localDockerServer : 'localhost'

block append scripts
	script(src='/js/views/modals/sage2server.js')
	script(src='/js/controllers/modals/sage2serverController.js')

block append content
	include loading

	.modal-sage2server.modal.fade
		.modal-dialog
			.modal-content
				.modal-header
					h4(style = "margin-bottom:-10px; margin-top: -2px").modal-sage2server-title New SAGE2 Server
					.modal-body
						form(method="post")
							.well
								.form-group
									//-
										if (admin && adminPage)
											h5 User
											select#server-owner
												each account in accounts
													option(value=account._id)= account.user 
									h5 SAGE2 Server Name
									input.form-control(type='text', name='node', placeholder="Sage2 Server 1")#server-name
									.alert.alert-danger(role="alert").name-error
									h5#available-server-versions-header SAGE2 Server Version
										select#available-server-versions
											each image in images
												if (image.tag == "latest")
													option(value=image.tag) BETA
												else
													option(value=image.tag)= image.tag 
									h5 Timezone
										select#server-timezone
											each timezone in timezones
												option(value=timezone)= timezone

									h5 Display Tile Resolution
									.form-inline
										label Width
										input.form-control(type='text', name='server-width',style="width: 80px", value=1920)#server-width
										label Height
										input.form-control(type='text', name='server-height',style="width: 80px", value=1080)#server-height
										.alert.alert-danger(role="alert").error-height
										.alert.alert-danger(role="alert").error-width
									h5 Layout
									.form-inline
										label Rows
										input.form-control(type='text', name='server-rows', value=1, style="width: 50px")#server-rows
										label Columns
										input.form-control(type='text', name='server-columns', value=1, style="width: 50px")#server-columns
										.alert.alert-danger(role="alert").error-columns
										.alert.alert-danger(role="alert").error-rows
									.form-group
										.form-inline
											//-
												label(data-toggle='tooltip', title='CSS color for the background (hex, rgba(), etc.)') Background Color
												input.form-control(type='color', name='color', value='#0000ff', style="width: 50px")#mx-auto
												label(data-toggle='tooltip', title='12 or 24 (specifies whether to use a 12 or 24 hour clock)') Clock:
												label.form-check-label
													input.form-control(type='radio', name='12', value='option1', checked='')#hours12
													|  12 Hr
												label.form-check-label
													input.form-control(type='radio', name='24', value='option1')#hours24
													|  24 Hr
									h5#available-servers-header Running on
										select#available-servers
											option(value='localDocker')= localDockerServer
											each dockerServer in dockerServers
												if(dockerServer.status == 'Online')
													option(value=dockerServer._id)= dockerServer.url 

							#collapse1.panel-collapse.collapse
										h5 Optional Settings
										.well
											#accordion.panel-group
												.panel.panel-default
													.panel-heading
														a(data-toggle='collapse', href='#collapse0')
															|Proxy
													#collapse0.panel-collapse.collapse
														.panel-body
															.form-group
																label HTTP Proxy Port
																	input.form-control(type='text', name='rproxy_port')#rproxy_port
																	small.form-text.text-muted
																		| Port of the HTTP reverse proxy.
																label HTTPS Proxy Port
																	input.form-control(type='text', name='rproxy_secure_port')#rproxy_secure_port
																	small.form-text.text-muted
																		| Port of the HTTPS reverse proxy.
											#accordion.panel-group
												.panel.panel-default
													.panel-heading
														a(data-toggle='collapse', href='#collapse2')
															|Background
													#collapse2.panel-collapse.collapse
														.panel-body
															h4 Background Image:
															label(data-toggle='tooltip', title='relative path from the public directory to an image used for the background')
																|Image URL
															input.form-control(type='text', name='background_url')#background_url
															.form-group
																label(for='sel1', data-toggle='tooltip', title='Hover Text') Image Style:
																select#sel1.form-control(name='image_style')
																	option Fit
																	option Stretch
																	option Tile
															h4 Watermark:
															label(data-toggle='tooltip', title='relative path from the public directory to a monochrome SVG image used for the watermark') Svg Location
															input.form-control(type='text', name='svg')#svg
															label(data-toggle='tooltip', title='CSS color for the watermark (rgba() recommended)') Color
															input.form-control(type='color', name='watermark_color', value='#0000ff', style="width: 50px")#mx-auto
															label.checkbox-inline(data-toggle='tooltip', title='Clip display at exact resolution')
																input(type='checkbox', value='')
																| Clip Display
											#accordion.panel-group
												.panel.panel-default
													.panel-heading
														a(data-toggle='collapse', href='#collapse3')
															|UI
													#collapse3.panel-collapse.collapse
														.panel-body
															label(data-toggle='tooltip', title='Hover Text') Show Url
															input.form-control(type='text', name='rproxy_port')
															label(data-toggle='tooltip', title='Hover Text') Show Version
															input.form-control(type='text', name='rproxy_secure_port')
															label.checkbox-inline(data-toggle='tooltip', title='Display Options')
																input(type='checkbox', value='', name='show_url')
																| Show Url
															label.checkbox-inline(data-toggle='tooltip', title='Display Options')
																input(type='checkbox', value='', name='show_version')
																| Show Version
															h4 Menubar:
															.form-inline
																label(data-toggle='tooltip', title='Hover Text') Background Color
																input.form-control(type='color', name='watermark_color', value='#0000ff', style="width: 50px")#mx-auto
																label(data-toggle='tooltip', title='Hover Text') Text Color
																input.form-control(type='color', name='watermark_color', value='#0000ff', style="width: 50px")#mx-auto
															.form-inline
																label Remote Color:
																label(data-toggle='tooltip', title='Hover Text') Connected
																input.form-control(type='color', name='watermark_color', value='#0000ff', style="width: 50px")#mx-auto
																label(data-toggle='tooltip', title='Hover Text') Disconnected
																input.form-control(type='color', name='watermark_color', value='#0000ff', style="width: 50px")#mx-auto
															.form-check.form-check-inline
																label.checkbox-inline(data-toggle='tooltip', title='Display Options')
																	input(type='checkbox', value='', name='auto_hide')
																	| Auto Hide UI
																label.checkbox-inline(data-toggle='tooltip', title='Display Options')
																	input(type='checkbox', value='', name='auto_hide')
																	| Auto Scale UI
															.form-check.form-check-inline
																label.checkbox-inline(data-toggle='tooltip', title='Display Options')
																	input(type='checkbox', value='', name='auto_hide')
																	| Calculate Viewing Distance
																label.checkbox-inline(data-toggle='tooltip', title='Display Options')
																	input(type='checkbox', value='', name='auto_hide')
																	| No Drop Shadow
															label(data-toggle='tooltip', title='Hover Text') Auto Hide Delay
															input.form-control(type='text', name='name')
															label(data-toggle='tooltip', title='Hover Text') Title Bar Height
															input.form-control(type='text', name='rproxy_secure_port')
															label(data-toggle='tooltip', title='Hover Text') Title Text Size
															input.form-control(type='text', name='node')
															label(data-toggle='tooltip', title='Hover Text') Pointer Size
															input.form-control(type='text', name='host')
															label(data-toggle='tooltip', title='Hover Text') Min Window Width
															input.form-control(type='text', name='node')
															label(data-toggle='tooltip', title='Hover Text') Min Window Height
															input.form-control(type='text', name='host')
															label(data-toggle='tooltip', title='Hover Text') Max Window Height
															input.form-control(type='text', name='name')
															label(data-toggle='tooltip', title='Hover Text') Max window width
															input.form-control(type='text', name='secure_port')
															label(data-toggle='tooltip', title='Hover Text') Startup sound
															input.form-control(type='text', name='rproxy_port')
											#accordion.panel-group
												.panel.panel-default
													.panel-heading
														a(data-toggle='collapse', href='#collapse4')
															|Dimensions
													#collapse4.panel-collapse.collapse
														.panel-body
															label(data-toggle='tooltip', title='Hover Text') Title Width
															input.form-control(type='text', name='host')
															label(data-toggle='tooltip', title='Hover Text') Title Height
															input.form-control(type='text', name='name')
															label(data-toggle='tooltip', title='Hover Text') Title Borders
															input.form-control(type='text', name='node')
															label(data-toggle='tooltip', title='Hover Text') Title Overlap
															input.form-control(type='text', name='host')
															label(data-toggle='tooltip', title='Hover Text') Viewing Distance
															input.form-control(type='text', name='name')
											#accordion.panel-group
												.panel.panel-default
													.panel-heading
														a(data-toggle='collapse', href='#collapse5')
															|Remote Sites
													#collapse5.panel-collapse.collapse
														.panel-body
															label(data-toggle='tooltip', title='Hover Text') Name
															input.form-control(type='text', name='rproxy_secure_port')
															label(data-toggle='tooltip', title='Hover Text') Host
															input.form-control(type='text', name='node')
															label(data-toggle='tooltip', title='Hover Text') Port
															input.form-control(type='text', name='host')
															label(data-toggle='tooltip', title='Hover Text') Secure
															input.form-control(type='text', name='name')
															label(data-toggle='tooltip', title='Hover Text') Password
															input.form-control(type='text', name='host')
															label(data-toggle='tooltip', title='Hover Text') Session
															input.form-control(type='text', name='name')
											#accordion.panel-group
												.panel.panel-default
													.panel-heading
														a(data-toggle='collapse', href='#collapse6')
															|Folders
													#collapse6.panel-collapse.collapse
														.panel-body
															label(data-toggle='tooltip', title='Hover Text') Name
															input.form-control(type='text', name='node')
															label(data-toggle='tooltip', title='Hover Text') Url
															input.form-control(type='text', name='host')
															label(data-toggle='tooltip', title='Hover Text') Path
															input.form-control(type='text', name='name')
															label(data-toggle='tooltip', title='Hover Text') Upload
															input.form-control(type='text', name='host')
															label(data-toggle='tooltip', title='Hover Text') IamageMagick
															input.form-control(type='text', name='name')
															label(data-toggle='tooltip', title='Hover Text') FFMpeg
															input.form-control(type='text', name='name')
				.modal-footer
					//- button(data-toggle='collapse', href="#collapse1")#new-server-advanced.btn.btn-info Advanced
					button(type="submit").btn.btn-primary.btn-modal-sage2server-submit Submit
					button.btn.btn-danger Cancel


